/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #413838; /* light gray */
  border: 1px solid #000; /* black border */
  border-color: rgb(255, 174, 0);
  border-radius: 20px;
  padding: 15px 30px;
  color: rgb(255, 255, 255);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Navbar title */
.navbar h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

/* Navbar menu */
.navbar ul {
  list-style: none;
  display: flex;
  gap: 45px;
  margin: 5px 110px;
}

/* Nav links */
.navbar a {
  color: inherit;
  text-decoration: none;
}

.logo-link:hover {
  color: inherit;
}

/* Menu items */
.navbar ul li {
  cursor: pointer;
  transition: color 0.3s, transform 0.2s;
}

/* Hover effect */
.navbar ul li:hover {
  color: #f7d794; /* highlight color */
  transform: scale(1.1); /* slight zoom effect */
}
